OPENAI_API_KEY=const axios = require('axios');
let data = JSON.stringify({
  "q": "apple inc"
});

let config = {
  method: 'post',
  maxBodyLength: Infinity,
  url: 'https://google.serper.dev/search',
  headers: { 
    'X-API-KEY': '0c697d7e72cda799439cb8114d67e67d271ea46e', 
    'Content-Type': 'application/json'
  },
  data : data
};

async function makeRequest() {
  try {
    const response = await axios.request(config);
    console.log(JSON.stringify(response.data));
  }
  catch (error) {
    console.log(error);
  }
}

makeRequest();
OPENAI_MODEL=gpt-5.6-luna
PORT=3000
